[Unit]
Description=File Tunnel
After=network-online.target
Wants=network-online.target

[Service]
User=nobody
Group=nogroup

WorkingDirectory=/opt/ft

EnvironmentFile=/etc/ft.env

ExecStart=/opt/ft/ft-linux-x64 <параметры>

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
