[Unit]
Description=File Tunnel
After=network-online.target
Wants=network-online.target

[Service]
User=nobody
Group=nogroup

WorkingDirectory=/opt/ft

EnvironmentFile=/etc/ft.env

ExecStart=/opt/ft/ft-linux-arm64 \
        --s3 \
        --bucket ${FT_S3_BUCKET} \
        --region ${FT_S3_REGION} \
        --endpoint ${FT_S3_ENDPOINT} \
        --write ${FT_WRITE} \
        --read ${FT_READ} \
        ${FT_OTHER}


Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
